@font-face {
    font-family: gandhi-sans;
    font-weight: bold;
    font-style: bold;
    src: url("../fonts/gandhiSans-regular.otf") format("opentype");
}

h3 {
    font-family: 'Agency FB', sans-serif;
    font-size: 26px;
    font-weight: normal;
    text-align: left;
    line-height: 100%;
    border-bottom: 1px solid #484848;
    padding-bottom: 5px;
    margin-bottom: 7px;
}

.white-bg {
    background: white;
}

html {
    max-width: 100%;
    overflow-x: hidden;
    background-color: #fbfbfb;
}

body {
    color: #666;
    background-color: #fff;
    font-family: gandhi-sans;
    font-size: 14px;
    max-width: 100%;
    overflow-x: hidden;
}

p {
    padding: 3px;
    text-align: justify;
    text-justify: inter-word;
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: none !important;
}

a:hover {
    color: #24a565;
}

.header-bar-item {
    margin: 0 8px;
}

.page {
    margin-right: auto;
    margin-left: auto;
    width: 800px;
}

@media only screen and (max-width: 1080px) {
    .page {
        width: 100%;
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media only screen and (max-width: 800px) {
    .page {
        width: 100%;
        padding-left: 60px;
        padding-right: 60px;
    }
}

@media only screen and (max-width: 768px) {
    .page {
        width: 520px;
    }
}

@media only screen and (max-width: 576px) {
    .page {
        width: 100%;
        padding-left: 80px;
        padding-right: 80px;
    }
}

@media only screen and (max-width: 520px) {
    .page {
        width: 100%;
        padding-left: 60px;
        padding-right: 60px;
    }
}

@media only screen and (max-width: 480px) {
    .page {
        width: 100%;
        padding-left: 32px;
        padding-right: 32px;
    }
}

.header-bar {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fbfbfb;
    border: solid #f0f0f0;
    border-width: 0 0 1px 0;
    color: #9b9b9b;
    font-weight: bold;
}

.header-bar-item-right {
    margin: 0 20px;
    float: right;
}

.header-bar-item-center {
    margin: 0 24px;
    float: center;
    cursor: pointer;
    white-space: nowrap;
}


/* footer impl */

footer {
    margin: 0 0 24px 0;
    padding-top: 16px;
    background-color: #fbfbfb;
    border: solid #f0f0f0;
    border-width: 1px 0 0 0;
    color: #9b9b9b;
}

footer div.info {
    line-height: 190%;
    margin-top: 16px;
}

footer div.info h5 {
    font-weight: 600;
}

footer ul {
    list-style: none;
    padding-left: 0;
}

i.accent {
    color: #6cc5d7;
}


/* ​Form styles */

input,
textarea {
    color: #555;
    padding: 3px 5px;
    border: 1px solid #ccc;
    background-color: transparent;
}

input:focus,
textarea:focus {
    border-color: #999;
}

input[type=submit] {
    font-size: 10px;
    padding: 4px;
    background: #ccc;
    border: 0 none;
    cursor: pointer;
    background-color: green;
    color: white;
    text-transform: uppercase;
}

.iconthin-btn {
    font-size: 14px;
    height: 48px;
    color: white;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    background-color: #24a565;
    width: 100%;
}

.iconthin-btn-sm {
    font-size: 14px;
    height: 32px;
    color: white;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    background-color: #24a565;
}


/* nav bar classes */

.navbar,
.navbar-inverse {
    border-radius: 0;
    border: none;
    margin-bottom: 0;
}

.navbar-inverse {
    background-color: #73c183;
}

.nav li,
.navbar-inverse .navbar-brand {
    display: inline;
    color: white;
}

.navbar-inverse .navbar-nav>li>a {
    color: #ffffff;
}

.navbar-toggle,
.navbar-collapse {
    border: none;
}

.navbar-iconthin {
    padding-bottom: 12px;
}

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
    background-color: #24a565;
}

.navbar-inverse .navbar-nav li a:hover {
    transition: 0.7s all linear;
    height: 100%;
    border: none;
}

.navbar-brand img {
    margin: 0 24px 0 -10px;
    height: 4em;
}

.navbar-menu-item>a,
.navbar-menu-item>div.dropdown {
    font-size: 16px;
    font-weight: thin;
    color: #24a565;
    background-color: inherit;
    margin: 48px 16px 0 16px;
}

.nav>li.navbar-menu-item>a.active {
    border-color: #24a565;
}

.nav>li.navbar-menu-item>a {
    padding: 2px 4px;
    border-bottom: solid;
    border-width: 3px;
    border-color: white;
}

.nav>li.navbar-menu-item>a {
    padding: 2px 4px;
    border-bottom: solid;
    border-width: 3px;
    border-color: white;
}

.nav>li>a:focus,
.nav>li>a:hover {
    border-color: #24a565;
    background-color: inherit;
}


/* Carousel implementations */

#home-banner {
    position: relative;
}

#carousel {
    position: absolute;
    width: 100%;
    height: 400px;
}

.carousel {
    height: 400px;
}

.carousel-caption {
    z-index: 10;
}

.carousel .item {
    width: 100%;
    max-width: 800px;
    height: 400px;
}

img {
    max-width: 100%;
    width: auto 9;
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}

.carousel-inner>.item>img {
    min-width: 100%;
    max-height: 400px;
    max-width: none;
}

@media (min-width: 768px) {
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }
}

#home-banner .carousel-top {
    top: 64px;
    position: relative;
    z-index: 100;
    text-align: right;
    height: 400px;
}

h2.product-logo {
    font-size: 48px;
}

div.product-logo-desc {
    margin-right: 48px;
    color: #444;
    font-size: 15px;
}

h1.product-slogan {
    margin-top: 2px;
    color: #444;
}

@media only screen and (max-width: 768px) {
    #home-banner .carousel-top {
        padding-top: 20px;
        height: 300px;
    }
    h2.product-logo,
    div.product-logo-desc,
    h1.product-slogan {
        width: 100%;
        text-align: center;
    }
}

.section-header {
    width: 100%;
    text-align: center;
}

.section-header>h2 {
    z-index: 1;
    padding: 0;
}

.section-header>span {
    padding: 0 48px;
    border-top: solid;
    border-width: 3px;
    border-color: #24a565;
}


/* Product page impl */

#product-record {
    padding: 32px 32px;
    text-align: center;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/product-record-bg.jpg);
}

#product-record i {
    vertical-align: bottom;
    font-size: 26px;
}

#product-record label {
    font-weight: bold;
    padding-top: 6px;
    font-size: 30px;
    line-height: 60%;
}

#product-record span {
    line-height: 160%;
}

.product-logo-text .product-logo-text-light {
    color: #24a565;
}

.product-logo-text .product-logo-text-dark {
    color: #191718;
}

#product-desc {
    padding: 36px 72px 0 0;
}

@media only screen and (max-width: 768px) {
    #product-desc {
        padding: 36px 24px 0 24px;
    }
    #product-desc>h4 {
        text-align: center;
        padding: 36px 24px 0 24px;
    }
}

.media-left i {
    font-size: 28px;
}

.media-body p {
    padding-top: 4px;
}


/* Contact page impl */

#contact-banner {
    margin: 0 0 48px 0;
    padding: 64px 0 110px 0;
    text-align: center;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/product-record-bg.jpg);
    color: white;
    font-size: 15px;
    font-weight: thin;
}

#contact-banner h1 {
    color: #24a565;
    text-transform: uppercase;
}

#contact-icon-row {
    text-align: center;
    padding-bottom: 36px;
}

#contact-form input,
#contact-form textarea {
    width: 100%;
}

#contact-form input[type=submit] {
    margin: 12px 0 24px 0;
    font-size: 14px;
    padding: 6px 24px;
}


/* Astaxanthin page impl */

#astaxanthin-banner {
    margin-bottom: 64px;
    padding-top: 48px;
    padding-bottom: 96px;
    text-align: right;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/astaxanthin-banner-bg.jpg);
    color: white;
    font-size: 15px;
    font-weight: thin;
}

#astaxanthin-banner h1 {
    color: #24a565;
    text-transform: uppercase;
}

#astaxanthin-learn-more {
    position: relative;
    height: 320px;
    line-height: 40px;
    color: #24a565;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/astaxanthin-learn-more-bg.jpg);
    font-size: 20px;
    font-weight: thin;
}

#astaxanthin-learn-more>div {
    top: 150px;
    position: absolute;
    right: 0;
}


/* Team page impl */

#team-banner {
    height: 280px;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/team-banner-bg.jpg);
    color: white;
    font-size: 15px;
    font-weight: thin;
}

#team-banner>.page>p {
    width: 100%;
    padding-top: 128px;
}

#team-banner-content {
    float: right;
    display: inline-block;
    color: #24a565;
    text-transform: uppercase;
}

#team-banner-content>span {
    font-size: 12px;
    color: white;
}

#team-achievements {
    margin: 12px 0 0 0;
    position: relative;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url(../img/team-achievements-bg.jpg);
    font-size: 15px;
    font-weight: thin;
}

#team-achievements>div.dimmer {
    padding: 12px 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.4);
}

#team-achievements div.dimmer div.white-bg {
    height: 320px;
    overflow: hidden;
}

#team-achievements [class*="col-"] {
    min-height: 320px;
    max-height: 320px;
}

#team-achievements-green-chemistry {
    height: 320px;
    overflow: hidden;
    background: white;
    /*background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url(../img/team-achievements-green-chemistry.jpg);
    */
}

#team-achievements-green-chemistry>img {
    min-height: 100%;
    min-width: 100%;
}

#team-achievements div.dimmer div.white-bg p {
    padding: 12px;
}


/* Material page impl */

#material-banner {
    margin: 0 0 64px 0;
    height: 260px;
    color: white;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/material-banner-bg.jpg);
    color: white;
    font-size: 15px;
    font-weight: thin;
}

#material-banner-content {
    padding-right: 6px;
    color: #111;
    text-align: right;
    font-weight: 500;
    text-transform: uppercase;
}

#material-banner-content>span {
    color: white;
    font-size: 12px;
}