<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--title>Null title admin</title-->
    <meta name="description" content="TODO: Optimize for search">
    <meta name="author" content="Iconthin">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/element-ui.css">

    <script src="js/vendor/modernizr.js"></script>
    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/vue.min.js"></script>
    <script src="js/vendor/element-ui.js"></script>
    <style>
        .grid-content {
            min-height: 36px;
        }
        
        .sidebar {
            min-height: 500px;
            background-color: #dde;
        }
    </style>
    <!--[if lt IE 9]>
        <
        script src = "" >
    </script>
    <![endif]-->
</head>

<body>
    <div id="admin-app">
        <el-row :gutter="20" v-if="loginVisible">
            <el-col :span="8">
                <div class="grid-content"></div>
            </el-col>
            <el-col :span="8">
                <div class="grid-content">
                    <h1><br>ADM portal</h1>
                    <form id="login-form">
                        <el-input placeholder="Username" v-model="uname" name="uname"></el-input>
                        <br>
                        <el-input placeholder="Password" v-model="pswd" name="pswd"></el-input>
                    </form>
                    <br>
                    <el-button type="primary" @click="signin"> Sign in </el-button>
                    <el-dialog v-model="alertVisible" title="Error">
                        <p>{{alertContent}}</p>
                    </el-dialog>
                </div>
            </el-col>
            <el-col :span="8">
                <div class="grid-content"></div>
            </el-col>
        </el-row>

        <!-- Panel impl -->
        <div v-if="!loginVisible">
            <el-row class="tac">
                <el-col :span="6">
                    <div class="sidebar">
                        <el-menu default-active="0" class="el-menu-vertical-demo">
                            <el-menu-item index="0">
                                <h2>Admin Panel</h2>
                            </el-menu-item>
                            <el-menu-item @click="subTabClick" index="1">Subscriptions</el-menu-item>
                            <el-menu-item @click="fedTabClick" index="2">Feedbacks</el-menu-item>
                        </el-menu>
                    </div>
                    <el-dialog v-model="alertVisible" title="Error">
                        <p>{{alertContent}}</p>
                    </el-dialog>
                </el-col>
                <el-col :span="18">
                    <div v-if="activeTabIndex==1">
                        <h1>&nbsp;&nbsp;Select what you want to do from left</h1>
                    </div>
                    <div v-if="activeTabIndex==1">
                        <h1>&nbsp;&nbsp;Subscribers</h1>
                        <el-table :data="subscribers" border style="width: 100%" @selection-change="handleSubscriberSelectionChange">
                            <el-table-column type="selection" width="55"></el-table-column>
                            <el-table-column property="timestamp" label="Date" width="120"></el-table-column>
                            <el-table-column property="email" label="Email" width="300"></el-table-column>
                            <el-table-column property="active" label="Active"></el-table-column>
                        </el-table>
                    </div>
                    <div v-if="activeTabIndex==2">
                        <h1>&nbsp;&nbsp;Feedbacks</h1>
                        <el-card class="box-card" v-for="item of feedbacks">
                            <div slot="header" class="clearfix">
                                <div><span style="color:#666">Subject: </span>{{item.subject}}</div>
                                <el-button v-if="item.email" style="float: right;" type="primary" v-on:click="replyFeedback(item)">Reply</el-button>
                            </div>
                            <ul>
                                <li v-if="item.name">name: {{item.name}}</li>
                                <li v-if="item.email">email: {{item.email}}</li>
                                <li v-if="item.phone">phone: {{item.phone}}</li>
                                <li v-if="item.timestamp">time: {{new Date(item.timestamp)}}</li>
                            </ul>
                            <div class="text item">
                                {{item.body}}
                            </div>
                        </el-card>
                    </div>
                </el-col>
            </el-row>
        </div>
    </div>
</body>
<script src="js/admin.js"></script>

</html>